#banner
{
    background-color: aliceblue;
    padding: 20px 0;
}
.caja
{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav
{
    position: absolute;
    top: 110px;
    right:0px;
}
nav li
{
    display: inline-block;
}
nav a
{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-right: 15px;
}
nav a:hover
{
    color: lightblue;
    text-decoration: underline;
}
.catalogo
{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.catalogo li
{
    display: inline-block;
    text-align: center;    
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 40px;
}
.catalogo li:hover
{
    border-color: rgb(50, 114, 114);
}
.catalogo li:hover h2
{
    font-size: 33px;
}
.catalogo li:active
{
    border-color: red
}
.catalogo h2
{
    font-size: 30px;
    font-weight: bold;
}
.Descripción
{
    font-size: 18px;
}
.precio
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%;    

}
footer
{
    text-align: center;
    background: url(imagenes2/imagenes/bg.jpg);
    padding: 40px;
}
#textCopy
{
    color: white;
    font-size: 13px;
    margin: 20px;
}
main
{
    width: 940px;
    margin: 0 auto;
}
form
{
    margin: 40px 0px;
}
form label, form legend
{
    display: block;
    font-size: 20px;
    margin: 0px 0px 10px;
}
.inputPadron
{
    display: block;
    margin: 0px 0px 20px;
    padding: 10px 25px;
    width: 50%;
}
.Checkbox
{
    margin: 20px 0;
}
.Enviar
{
    width: 40%;
    padding:  15px 0;   
    font-size: 18px;
    font-weight: bold;
    color:  white;
    background: orange;
    border: none; 
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}
.Enviar:hover
{
    background: darkorange;
    transform: scale(1.20) rotate(360deg);
}
table
{
    margin: 40px 40px;
}
thead
{
    background: gray;
    color: white;
    font-weight: bold;
}
td, th
{
    border: 1px solid black;
    padding: 8px 15px;
}